* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background: white;
}
.glbox{
    display: flex;
}

.box1 {
    width: 180px;
    height: 200px;
}

.box1 div {
    width: 40px;
    height: 35px;
    background: #ee8585;
    border-radius: 5px;
    float: left;
    margin: 4px;
}
.box2 {
    width: 160px;
    height: 175px;
    position: relative;
}

.box2 div {
    position: absolute;
    background: purple;
    border-radius: 3px;
}

.a1 {
    width: 34px;
    height: 34px;
    left: 0;
    top: 0;
}

.a2 {
    width: 34px;
    height: 34px;
    left: 40px;
    top: 0;
}

.a3 {
    width: 34px;
    height: 34px;
    left: 80px;
    top: 0;
}

.a4 {
    width: 34px;
    height: 34px;
    left: 120px;
    top: 0;
}

.a5 {
    width: 34px;
    height: 34px;
    left: 0;
    top: 44px;
}

.a6 {
    width: 34px;
    height: 34px;
    left: 40px;
    top: 44px;
}

.a7 {
    width: 34px;
    height: 34px;
    left: 80px;
    top: 44px;
}

.a8 {
    width: 34px;
    height: 78px;
    left: 120px;
    top: 44px;
}

.a9 {
    width: 34px;
    height: 34px;
    left: 0;
    top: 88px;
}

.a10 {
    width: 34px;
    height: 34px;
    left: 40px;
    top: 88px;
}

.a11 {
    width: 34px;
    height: 34px;
    left: 80px;
    top: 88px;
}

.a12 {
    width: 74px;
    height: 34px;
    left: 0;
    top: 132px;
}

.a13 {
    width: 34px;
    height: 34px;
    left: 80px;
    top: 132px;
}

.a14 {
    width: 34px;
    height: 34px;
    left: 120px;
    top: 132px;
}
