* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background: white;
}
.glbox{
    display: flex;
}

.box1 {
    width: 180px;
    height: 200px;
}

.box1 div {
    width: 40px;
    height: 35px;
    background: #ee8585;
    border-radius: 5px;
    float: left;
    margin: 4px;
}
.box2 {
    width: 160px;
    height: 175px;
    position: relative;
}

.box2 div {
    position: absolute;
    background: purple;
    border-radius: 3px;
}

.a1 {
    width: 34px;
    height: 34px;
    left: 0;
    top: 0;
}

.a2 {
    width: 34px;
    height: 34px;
    left: 40px;
    top: 0;
}

.a3 {
    width: 34px;
    height: 34px;
    left: 80px;
    top: 0;
}

.a4 {
    width: 34px;
    height: 34px;
    left: 120px;
    top: 0;
}

.a5 {
    width: 34px;
    height: 34px;
    left: 0;
    top: 44px;
}

.a6 {
    width: 34px;
    height: 34px;
    left: 40px;
    top: 44px;
}

.a7 {
    width: 34px;
    height: 34px;
    left: 80px;
    top: 44px;
}

.a8 {
    width: 34px;
    height: 78px;
    left: 120px;
    top: 44px;
}

.a9 {
    width: 34px;
    height: 34px;
    left: 0;
    top: 88px;
}

.a10 {
    width: 34px;
    height: 34px;
    left: 40px;
    top: 88px;
}

.a11 {
    width: 34px;
    height: 34px;
    left: 80px;
    top: 88px;
}

.a12 {
    width: 74px;
    height: 34px;
    left: 0;
    top: 132px;
}

.a13 {
    width: 34px;
    height: 34px;
    left: 80px;
    top: 132px;
}

.a14 {
    width: 34px;
    height: 34px;
    left: 120px;
    top: 132px;
}


.box3 {
    width: 160px;
    height: 170px;
    position: relative;
}

.box3 div {
    position: absolute;
    background: #5b6030;
    border-radius: 3px;
}


.b1 {
    width: 35px;
    height: 38px;
    left: 0;
    top: 0;
}

.b2 {
    width: 72px;
    height: 38px;
    left: 40px;
    top: 0;
}

.b3 {
    width: 35px;
    height: 82px;
    left: 118px;
    top: 0;
}


.b4 {
    width: 35px;
    height: 38px;
    left: 0;
    top: 45px;
}

.b5 {
    width: 35px;
    height: 38px;
    left: 40px;
    top: 45px;
}

.b6 {
    width: 35px;
    height: 38px;
    left: 80px;
    top: 45px;
}


.b7 {
    width: 35px;
    height: 38px;
    left: 0;
    top: 90px;
}

.b8 {
    width: 35px;
    height: 38px;
    left: 40px;
    top: 90px;
}

.b9 {
    width: 35px;
    height: 38px;
    left: 80px;
    top: 90px;
}

.b10 {
    width: 35px;
    height: 38px;
    left: 120px;
    top: 90px;
}


.b11 {
    width: 72px;
    height: 38px;
    left: 0;
    top: 135px;
}

.b12 {
    width: 35px;
    height: 38px;
    left: 78px;
    top: 135px;
}

.b13 {
    width: 35px;
    height: 38px;
    left: 120px;
    top: 135px;
}
.box4 {
    width: 160px;
    height: 170px;
    position: relative;
}

.box4 div {
    position: absolute;
    background: orange\;
}


.c1 {
    width: 35px;
    height: 82px;
    left: 0;
    top: 0;
    border-radius: 25px;
}

.c2 {
    width: 35px;
    height: 82px;
    left: 45px;
    top: 0;
    border-radius: 25px;
    background: orange;
}

.c3 {
    width: 35px;
    height: 38px;
    left: 90px;
    top: 0;
    border-radius: 20px;
    background: orange;
}

.c4 {
    width: 35px;
    height: 38px;
    left: 128px;
    top: 0;
    border-radius: 20px;
}

.c5 {
    width: 35px;
    height: 38px;
    left: 90px;
    top: 45px;
    border-radius: 20px;
}

.c6 {
    width: 35px;
    height: 38px;
    left: 128px;
    top: 45px;
    border-radius: 20px;
}

.c7 {
    width: 35px;
    height: 38px;
    left: 0;
    top: 90px;
    border-radius: 20px;
    background: orange;
}

.c8 {
    width: 35px;
    height: 38px;
    left: 45px;
    top: 90px;
    border-radius: 20px;
    background: orange;
}


.c9 {
    width: 35px;
    height: 38px;
    left: 0;
    top: 132px;
    border-radius: 20px;
}

.c10 {
    width: 78px;
    height: 82px;
    left: 82px;
    top: 88px;
    border-radius: 38px;
}
.c11 {
    width: 78px;
    height: 82px;
    left: 82px;
    top: 88px;
    border-radius: 38px;
}
